@media (min-width: 992px) {
    $bleuClair: #161e3f;
    $bleu: #07163e;
    $orange: #eb352e;
    $orangeClaire: #ec8375;


    // TEXTS COLOR AND SIZE -------------------------- STARTS
h1 {
  font-size: 96px;
  font-weight: 600;  
  font-family: 'Sintony', sans-serif;
}

h2 {
  font-family: 'Sintony', sans-serif;
  font-size: 96px;
  font-weight: 600;
}

h3 {
  font-size: 48px;
  font-weight: 300;
  font-family: 'Sintony', sans-serif;
}

h4 {
  font-size: 20px;
  font-weight: 300px;
  font-family: 'Sintony', sans-serif;
}

p {
  font-size: 15px;

}


// TEXTS COLOR AND SIZE -------------------------- END
    
   // HEADER AND MENU ------------------------------ START     
    
    #header {
      position: fixed;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      margin: auto;
      font-size: 19px;
      min-height: 100px;
    }        
    
    .active-header {
      background-color: white;
      color: $bleu;
    }
    
    .menu-link {
      color: white;
    }
    
    .active-menu-links {
      color: $bleu;
    }
    
    #normal-header {
      position: fixed;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: auto;
      font-size: 19px;
      min-height: 100px;
    }
    
    #header-img {
      width: 250px;
    }
    
    #nav-bar ul {
      list-style: none;
      display: flex;
      flex-flow: row;
    }
    
    #nav-bar li {
      padding: 10px;
      margin: 12px;
    }
    
    #nav-bar ul,
    a {
      text-decoration: none;
    } 

    #responsive-header {
      display: none;
    }
    
    #image-button-black {
      display: none;
      border: none;
    }
    
    #image-button-black:hover {
      cursor: pointer;
    }
    
    #image-button-black:focus {
      outline: 0;
    }       

// HEADER AND MENU ------------------------------ END    
    
    .mtm-btn {
      width: 30%;
      height: 50px;
      border: 0px;
      background-color: $orange;  
      color: white;
      &:hover{
        background-color: $orangeClaire;
      }
      a {
        color: white;        
      }
    }

  .l {
    display: flex;
    justify-content:end;
  }

  .decohome {
    display: block;
  }
}