$bleuClair: #161e3f;
$bleu: #07163e;
$orange: #eb352e;
$orangeClaire: #ec8375;


html {
  scroll-behavior: smooth; 
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: auto;
  height: auto;
  font-family: 'Poppins', sans-serif;
}


#red-text {
  color: #ff5a6e;
}


.decoimg img {
  width: 100%;
  border-radius: 30% 70% 43% 57% / 30% 30% 70% 70%;
  transition: border-radius 1s ease-in-out;
}
.decohome {
  height: 30%;
  width: 100%;
}

.decohome img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.decohomex {
  height: 30%;
  width: 100%;
}

.decohomex img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 50% 20% 70% 20%;
  transition: border-radius 1s ease-in-out;
}


.ejc {
  width: 100%;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ejcs {
  background-color: #ec8375;
  width: 100%;
  padding-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenloader {
  display: none;
}
#loadMore {
  width: 200px;
  color: #fff;
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: blue;
  transition: .3s;
}
#loadMore:hover {
  color: blue;
  background-color: #fff;
  border: 1px solid blue;
  text-decoration: none;
}

.p-0 {
  margin: 2px;
}
.decoimg {
  width: 600px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  
}

.decoimg img {
  width: 100%;
  
  border-radius: 30% 70% 43% 57% / 30% 30% 70% 70%;
  animation: borderanim 2s initial;
	-webkit-animation: borderanim 30s infinite;
  transition: border-radius 5s ease-in-out;
}

@keyframes borderanim {
	0% {
		border-radius: 30% 70% 43% 57% / 30% 30% 70% 70%;
	}
  25% {
		border-radius: 60% 30% 20% 80% / 80% 50% 60% 50%;
	}
  50% {
		border-radius: 80% 50% 43% 27% / 50% 90% 60% 20%;
	}
  75% {
		border-radius: 50% 20% 20% 95% / 20% 65% 45% 70%;
	}
  100% {
		border-radius: 30% 70% 43% 57% / 30% 30% 70% 70%;
	}
}

@-webkit-keyframes borderanim {
	to {
		border-radius: 30% 70% 43% 57% / 30% 30% 70% 70%;
	}
}

// MENU _____________________________________________________

/* Navigation CSS */
// #header {
//   background: white;
//   position: fixed;
//   display: flex;
//   flex-wrap: wrap;
//   flex-flow: row;
//   justify-content: space-between;
//   align-items: center;
//   width: 100vw;
//   min-height: 80px;
//   margin: auto;
// }


#normal-header {
  display: none;
}

a:hover {
    color: $orange;
}
.active-menu-links {
    color: $orange;
}
.active {
  color: #eb352e!important;
}

#responsive-header {
  display: flex;
  flex-flow: column;
  width: 100%;
  justify-content: center;
  margin: auto;
}

#responsive-logo-button {
  display: flex;
  justify-content: space-between;
  padding: 1% 0 1% 0;
}

#responsive-nav-bar {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
}



#responsive-nav-bar ul {
  padding: 0;
  list-style: none;
}

#responsive-nav-bar li {
  text-align: center;
  font-size: 20px;
  margin-top: 40%;
  color: $bleu;

  a {
    text-decoration: none;
    color: $bleu;
  }

}

#responsive-first-item {
  margin-top: 0;
  padding: 0;
}

#header-img-black {
  margin-left: 5%;
  margin-top: 3%;
  width: 50%;
  height: auto;
}

#dropdown-button-black {
  display: block;
  width: 55%;
  height: auto;
  margin: 0;
  padding: 0;
}


#image-button-black {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  padding: 2%;
}



// MENU END __________________________________________________________________________

h1 {
  font-size: 40px;
  font-weight: 600;
}

h2 {
  color: $bleu;
  font-size: 40px;
  font-weight: 40px;
}

h3 {
  font-size: 20px;
  font-weight: 300;
  color: $orange;
}

.home-text {
  color: #07163e;
  padding-left: 64px;
  margin-top: 50px;
  margin-bottom: 50px;

  h1,
  p,
  .btn-mtm {
    text-align: left;
  }
}

p {
  font-size: 20px;

}

.p-c {
  // background-color: #ff5a63;
  margin-top: 200px;
}

.btn-mtm {
  padding: 15px;
  border: 0;
  font-size: 14px;
  z-index: 9999;

  a {
    text-decoration: none;
    color: $bleu;
  }
}

.p-y {
  margin-top: 100px;
}

.p-x {
  margin-top: 50px;

}

span {
  color: $orange;
}


.card-body {
  padding-left: 0;
}


.container-lg {
  margin-bottom: 100px;

}

h4 {
  font-weight: 600;
  // background-color: #ff5a63;
}

.p-2 {
  margin-top: 6px;
  // background-color: #ff5a63;
}
.fblanc {
  background-color: white;
  margin-left: 0;
  margin-top: 200px;
}
.mtmpr {
  font-weight: 600;
}
.backimg-mtm {
  width: auto;
  height: 100vh;
  /* hero-header flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* Background image */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/cover.webp");
  // background-size: auto 100%;
  // background-position: center center;
  // background-repeat: no-repeat;
  background-position: fixed;
  color: white;
  position: relative;
  overflow: hidden;
  background-size: cover;
  z-index: -9999;
}

footer {
  background-color: $bleuClair;
  color: white;
}

.mtm-footer {
  text-align: left;
}

.container-lg {
  margin-bottom: 0;
}


.jleft {
  text-align: left;
}

.modal button.close {
  right: 0;
  outline: 0;
}
  
#gallery-lightbox img {
  height: 350px;
  object-fit: cover;
  cursor: pointer;
}

#gallery-lightbox img:hover {
  opacity: 0.9;
  transition: 0.5s ease-out;
}

.mtm-img img {
  height: 350px;
  object-fit: cover;
}

.icon {
  color: $orange;
}

.p-b-0 {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 0px!important;
}

.icon {
  color: #eb352e;
  width: 100px;
  height: 100px;
  padding-top:12px;
}





.icon:hover {
  color: $orangeClaire;
}

.xxx {
  background-color: #eb352e;

}

.footertext {
  font-size: small;
}